.logofdc{
    height: 100px;    
    width: 100px;
    background-color: aliceblue;
    top: 0;
}


.container {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: aqua;
    padding: 20px;
    box-sizing: border-box;
}

.navbar-item {
    margin-bottom: 30px;
    background-color: aquamarine;
}