.task-container {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 30rem;
}

.task-container h2, .task-container p {
    margin: 10px 0;
}

.task-container input, .task-container select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.task-container button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: bold;
}

.task-save-btn-create {
    color: white;
    background-color: green;
}

.task-save-btn {
    color: white;
    background-color: #0056cf;
}

.task-cancel-btn, .task-delete-btn {
    background-color: #c40d00;
    color: white;
}

.task-edit-btn {
    background-color: #0056cf;
    color: white;
}

