content-container {
    height: calc(100vh - var(--navbar-height));
    width: calc(100vw - var(--sidebar-width));
    
    position: absolute;
    left: var(--sidebar-width);
    top: var(--navbar-height);
    
    overflow: auto;
    
    padding: 1em;
    background-color: #f5f5f5;
  }

  .sidebarDiv{
    position: fixed;
    top: 200px;
    right:60px;
    width: 200px;
    height: 100vh;
    overflow: auto;
    
  }