.eventbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    height: 300px;
    width: 300px;
}

.ec-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .event-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffdc74;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    height: 300px;
    width: 300px;
  }
  
  .event-card:hover {
    transform: scale(1.05);
  }
  
  .event-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .event-desc {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .event-date, .event-location {
    font-size: 14px;
    color: #666;
  }

  .title{
    margin-top:200px;
  }