.image-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.welcome-image {
  width: 23%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
