.form-container {
    padding: 5rem;
    background-color: white;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form-container h1 {
    text-align: center;
    margin-bottom: 24px;
  }
  
  .input-group {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .input-group label {
    margin-bottom: 5px;
  }
  
  .inputRejoindre {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .submitRejoindre {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #333333;
    color: white;
    cursor: pointer;
    margin-top:1rem;
  }
  
  .submitRejoindre:hover {
    background-color: #a40000;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }