.logout-div {
    position: fixed;
    top: 0;
    right:0;
    margin-right: 60px;
    margin-top:60px;
  }

  .logout-btn{
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
  }

.logout-logo{
will-change: filter;
  transition: filter 300ms;
}

  .logout-logo:hover{
    filter: drop-shadow(0 0 2em #ff5900);
    
  }