.message-box{
    clear: both;
    margin-top: 150px;
    background-color: rgb(255, 193, 127);
    width: 1200px;
    height: 500px;
    display:flex;
}

.nav-message{
    position: relative;
    top: 30px;
    background-color: brown;
    height: 120px;
    width: 150px;
}

.nav-message-link{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    display: block;
    padding: 10px;
    }


.message-list{
    position: relative;
    background-color: white;
    height: 400px;
    width: 1000px;
    margin-left: 30px;
    margin-right: 60px;
    padding: 10px;
    top:30px;
}

.message-list label {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}

.message-list input,
.message-list textarea {
    padding: 1px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.message-list button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #c30000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.message-list button:hover {
    background-color: #b30000;
}