.box{
  transform: translate(-50%, -50%);
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 193, 127);
  width: 500px;
  height: 400px;
  margin-top: 15px;
}

.parent {
    position: absolute;
  top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    display: inline-block;
  }