.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 100%;
}

.vote-box{
  flex: 1 1 auto;
  margin: 0 10px;
  padding: 20px;
  border-radius: 10px;
}

.event-box {
  flex: 1 1 auto;
  margin: 0 10px;
  padding: 20px;
  border-radius: 10px;
}

.vote-box {
  display: flex;
  gap: 20px;
  margin-top: 10rem;
  flex-direction: column;
}

.event-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filterVoteEvent {
  position: fixed;
  top: 15rem;
left: 10rem;

}

.filterVoteEvent select {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #e9e9e9;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #f00000;
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}