.navbar {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.parent-container {
  display: flex;
}

.container {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-bottom: 3px solid rgb(222, 222, 222);
  border-radius: 30px;
  margin-left: 4rem;
}


.logout-box{
  margin-left: auto;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.navbar-item {
    display: inline;
    margin-right: 70px;
    color:black;
}
.navbar-item:hover {
  color: #a40000;

}

.navbar-item.is-active {
  color: #a40000;
}

.logo {
    padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  }
  .logofdc:hover {
    filter: drop-shadow(0 0 2em #dddddd);
  }

  .logofdc {
    max-height: 100px;
    margin-right: 20px;
  }

  .sidebar{
    display:flex;
    float:right;
    margin-top:50px;
  }