.navbar {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container {
display: flex;
  align-items: center;
  background-color: aqua;
}

.navbar-item {
    display: inline;
    margin-right: 50px;
}
.is-active {
    color: red;
  }

.logo {
    padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  }
  .logofdc:hover {
    filter: drop-shadow(0 0 2em #ff5900);
  }

  .logofdc {
    max-height: 100px;
    margin-right: 20px;
  }