.sidebar {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container-sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
  float:left;
  background-color: aqua;
}

.sidebar-item {
    margin-top: 15px;
    display: flex;
    text-align: left;
}
.is-active {
    color: red;
  }
