.taches-box{
    clear: both;
    margin-top: 150px;
    background-color: rgb(255, 193, 127);
    width: 1200px;
    height: 500px;
    display:flex;
}

.nav-taches{
    position: relative;
    top: 30px;
    background-color: brown;
    height: 120px;
    width: 150px;
}

.nav-taches-link{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    display: block;
    padding: 10px;
    }


.taches-list{
    position: relative;
    background-color: white;
    height: 400px;
    width: 1000px;
    margin-left: 30px;
    margin-right: 60px;
    padding: 10px;
    top:30px;
}